# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

# JSON files use tab indentation
[*.json]
indent_style = tab
indent_size = 4

# YAML files use tab indentation
[*.{yml,yaml}]
indent_style = tab
indent_size = 4

# Matches multiple files with brace expansion notation
[*.{vue,js,ts,mjs,mts}]
indent_style = tab
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Makefile requires tabs
[Makefile]
indent_style = tab
