{
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": true,
	"proseWrap": "preserve",
	"overrides": [
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		},
		{
			"files": "manifest.json",
			"options": {
				"parser": "jsonc"
			}
		}
	]
}
